[2016-08-19 16:06] Blueblau opened #1 "Key and values with hashes"
I'm getting both keys and values with hashes.

[code]

My setup is:
[code]

[2016-08-25 00:43] webdeveric commented on #1
@Blueblau Can you post your webpack config?

[2016-09-14 17:00] webdeveric commented on #1
@Blueblau I'm closing this due to no reply in three weeks.

I've released v0.2.0 which has better file extension handling. Please update and try again.

If you're still having issues, please let me know.

[2016-09-14 17:00] #1 closed

[2016-09-20 15:46] slashhuang opened #2 "adding more flexibility to options and tostring method"
Really appreciate the plugin .
I have used it for async loading JS file both using React and Vue SPA.
I revised some webpack code  based on your plugin, to suit my company need
in the  aspects of flexibility and tostring method.
Thank u  a lot

[2016-09-23 03:22] #2 closed

[2016-09-23 13:08] niksy opened #3 "Merging with existing manifest.json"
When you have multiple build processes (e.g. Gulp tasks for images) which generate manifest.json file without using Webpack, it would be nice if that existing manifest.json is merged with the one generated with this plugin. Could this be added as an option?

[2016-09-23 14:48] webdeveric commented on #3
@niksy I'll look into adding that feature.

Can you provide some more details about your build process?
Do you run webpack from gulp?
Have you tried merging json files with [gulp-merge-json](https://www.npmjs.com/package/gulp-merge-json)?

[2016-09-23 19:48] QWp6t commented on #3
Webpack has an example for running multiple compilers: https://github.com/webpack/webpack/tree/master/examples/multi-compiler

This plugin in its current state wouldn't work correctly with that setup.

A similar plugin to this one supports it with a `cache` option, which the user can supply an object literal: https://github.com/danethurber/webpack-manifest-plugin#configuration

[2016-09-23 19:58] webdeveric commented on #3
@QWp6t I was going to add multi compiler support soon and passing in a shared object is probably the easiest way to do it.

I'm not sure multi compiler support will help @niksy since he is using Gulp to process images, not webpack. It might work if he uses Gulp to run webpack though.

[2016-09-23 23:23] QWp6t commented on #3
I was thinking that in the same way that the manifest object would be passed between compilations, it could be passed as an option during an initial compilation as well, i.e., if he processes his images with gulp first (which it sounds like he's doing), he could then pass `require('path/to/manifest.json')` as an option to this plugin, and it would treat it similar to how it would be treated betwee

[2016-09-23 23:33] webdeveric commented on #3
My first thought was to add an option to prepopulate what goes in `manifest.json`.
Maybe something like `{data: require('images.json')}`.

[2016-09-25 08:25] niksy commented on #3
@webdeveric My current process compiles CSS files and creates manifest file with [gulp-rev](https://github.com/sindresorhus/gulp-rev). Same goes for images. gulp-rev has option to merge existing manifest.json file in case of multiple Gulp processes creating manifest file.

If I’m compiling JS files through Gulp, I could also use gulp-rev, and in case of Webpack, use it through [webpack-stream](htt

[2016-09-25 08:36] niksy opened #5 "Add callback for modifying manifest entry value"
Currently, plugin returns output file name as value of manifest entry, and that is acceptable in vast majority of cases.

Would it make sense to have callback in which you could adjust that value and have access to file stats object in that callback? By default, callback will return only output file name.

Use case: you want to output additional file information such as final file size of output f

[2016-09-26 17:10] webdeveric commented on #3
@niksy Yes, that makes sense. The `merge` option sounds fine.

[2016-09-26 17:35] webdeveric commented on #5
@niksy I'll look into that feature.

You could probably do this yourself by implementing your own [replacer](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/JSON/stringify#The_replacer_parameter). It can be a bit tricky to do what you want since it will call `replacer` recursively if you return an object. To make things easier, I'll probably add a `beforeWrite` cal

[2016-09-27 07:31] niksy commented on #5
`replacer` callback gets final JSON object so you don’t have access to final file stats out of the box, you need to explictly read that file with `fs` module or something similar to get stats which seems rather inconvenient (you need to take into account public path and such).

But `beforeWrite` could be useful for that case!

[2016-10-02 06:25] webdeveric commented on #3
@niksy I've added a `merge` option. It is currently in the `dev` branch.
If you'd like to try out that version, you can run `npm i webdeveric/webpack-assets-manifest#dev` to install it.

[2016-10-02 06:34] webdeveric commented on #5
@niksy I have an updated version in the `dev` branch that has some ways to customize the manifest data. The [readme](https://github.com/webdeveric/webpack-assets-manifest/tree/dev#customizing-the-manifest) has the details. I think you should probably use the `moduleAsset` and `processAssets` listeners. The build stats are available on `manifest.stats` in case you need it.

To install the updated v

[2016-10-03 14:23] niksy commented on #5
@webdeveric Great! I’ve managed to get callback for every listener except `moduleAsset`. When does this event gets called?

[2016-10-03 14:35] webdeveric commented on #5
@niksy `moduleAsset` is used if you `import`/`require` other assets in your modules.

For example, if you use `require('logo.png')` in a module, it will add `logo.png` to the manifest.

It is emitted here: https://github.com/webdeveric/webpack-assets-manifest/blob/dev/src/WebpackAssetsManifest.js#L297

[2016-10-03 15:08] niksy commented on #5
@webdeveric Hmm, I’ve just tried with requiring simple JS file inside one of my entry points and nothing gets outputted in that callback :/

[2016-10-03 15:14] webdeveric commented on #5
@niksy JS files get bundled. Try requiring an image with the [file-loader](https://github.com/webpack/file-loader).

[2016-10-03 15:15] niksy commented on #5
@webdeveric Ah, got it :+1:

[2016-10-03 18:02] niksy opened #8 "Extension for entry point key"
Would it make sense to omit extension if manifest entry is Webpack entry point? It seems to me that this is maybe unecessary and can create confusion where mental model is "if I set this as Webpack entry point key, I would expect it to be the same key in manifest.json". This can also be confusing if entry point is e.g. camelcased and it’s source is snake cased (e.g. `indexEntry: 'src/index_entry.j

[2016-10-03 18:54] webdeveric commented on #8
@niksy I think it would be confusing to omit the file extension only for `.js` files.

If you really want to do it that way, you can hook into `processAssets` and call `get()`, `set()`, and `delete()` yourself.

Also, to your point about camelCase and snake_case, you have control over the webpack config to set the entry point names. Use whatever naming style makes sense for you.

[code]

[2016-10-04 10:18] niksy commented on #8
@webdeveric You’re right, but it seems like a convoluted process.

* Hook into `processAssets` and set new key/value pair
* Delete entries with `.js` extensions relying on string concatenation which can get confusing and is prone to changes

Process is similar to this, don’t know if there’s easier way for this:

[code]

Can this be extended to have this adjusted through configuration option? Maybe

[2016-10-04 14:41] webdeveric commented on #8
@niksy This plugin was intended to only be a mapping from input file to output file.

How are you using the manifest file?

What is your use case for dropping the `.js` extension?

[2016-10-05 10:09] niksy commented on #8
@webdeveric I’ve reviewed my consideration and actually think that it’s benefical to have `.js` extension for key name (I’ve tested some cases with different key names). If there is need to remove it, it can be done with `processAssets` callback. Sorry for the confusion. My reasoning comes from the simple use cases, but for complex ones like including CSS and images it can create inconsistent outp

[2016-10-05 11:57] #8 closed

[2016-10-05 12:30] niksy commented on #3
@webdeveric Tried it and works as advertised :+1:

[2016-10-05 12:31] niksy commented on #5
@webdeveric Everything from here looks fine for me :+1:

[2016-10-05 12:39] #5 closed

[2016-10-05 12:39] #3 closed

[2016-11-07 18:45] QWp6t opened #10 "Option to have manifest keys be relative to compiler context directory"
## The problem
Given that my context directory is _assets_ and I have the following two files...
* assets/scripts/main.js
* assets/styles/main.css

... I'd like the ability to have the manifest keys be relative paths to those files from the context directory.

Current output:
[code]

I'd like the ability to make the keys look like this:
[code]

I was originally going to submit this as a PR, but ho

[2016-11-07 21:48] webdeveric commented on #10
@QWp6t I recently ran into an issue where two dependencies were including a file with the same name and only one entry was being saved to the manifest. I ended up setting the keys relative to the compiler context, which solved my specific issue.

[code]

Something similar to this should get you close to what you're looking for.

[code]

If that doesn't do it, I'll look into adding a feature to do

[2016-11-07 22:16] QWp6t commented on #10
Yeah, that was the first approach that I did, but unfortunately the `moduleAssets` event doesn't cover the problematic files since they're entry points. I tried looking at the `processAssets` event, but [the `assets` object](https://github.com/webdeveric/webpack-assets-manifest/blob/master/src/WebpackAssetsManifest.js#L179-L201) contains the `hashedFile` but not the source file, which isn't a reli

[2016-11-07 22:16] #10 closed

[2017-02-02 14:43] dayAlone opened #11 "Plugin doesn't ignore hot updates"
assets.json after hot update compile:
[code]

[2017-02-02 15:02] webdeveric commented on #11
@dayAlone Can you provide a webpack config that demonstrates the issue?

[2017-02-06 05:16] dayAlone commented on #11
I can't repeat this behaviour at simplified config, but on my big project this happens, maybe you can add some exception for files that contain ".hot-update" string in their filename?

[2017-02-16 04:46] nh51515 opened #12 "moduleAsset event listener doesn't work?"
## The problem
moduleAsset event listener is not triggered
## Technical details
I was trying to log messages on each of the event listeners. But it seems moduleAsset event listener is never called. Is there any reason why? Thank you in advance.
### Webpack version
1.14.0
### Webpack config
[code]
### Operating system
MacOS

[2017-02-16 16:06] webdeveric commented on #12
@nh51515, `moduleAsset` is called when a module requires/imports an asset. Example: https://github.com/webdeveric/webpack-assets-manifest/blob/master/test/fixtures/client.js#L3

Are you requiring any images or CSS from your entry points (JS files)?

[2017-02-17 02:22] nh51515 commented on #12
@webdeveric In my entry point (js file), it imports another module that contains sass files. There is no explicit require for css in this case. So moduleAsset is not called in this case?

[2017-02-17 04:35] webdeveric commented on #12
@nh51515 What other plugins are you using? It would be helpful to see your full webpack config. Do you have a simplified working example that shows the issue you're having? Maybe in a public repo or a gist?

[2017-02-17 19:08] anfinil commented on #11
Have the same problem. I fixed it here: https://github.com/anfinil/webpack-assets-manifest/commit/dd709324fe4cafa1e72746c348a75f963090f1e8. Would be like to PR it but can't find rules of HMR update naming.

[2017-02-17 19:46] webdeveric commented on #11
@anfinil I'll take a look at it this weekend.

[2017-02-20 18:02] webdeveric commented on #11
@dayAlone / @anfinil Can you explain how you're using the `manifest.json` file? How does having a `.hot-update.js` entry affect you? If having that entry is an issue, what does the desired entry look like to you? Should it be skipped or should the value be something else?

@anfinil I think https://github.com/webpack/webpack/blob/master/lib/WebpackOptionsDefaulter.js#L59 is where the HMR naming is

[2017-02-20 18:24] anfinil commented on #11
@webdeveric I'm using `manifest.json` to load assets that were generated by Webpack to web page manually. I look into `manifest.json` for `app.js` bundle to get correct path to the script. It works fine for the first time (when no `not-update` generated). When `hot-update.js` is generated it replaces path for `app.js`. So when I reload page it will load only `hot-update.js` instead of app bundle.

[2017-02-21 22:13] webdeveric commented on #11
@anfinil @dayAlone I've added support for ignoring HMR files. Its currently in my dev branch. Check it out and let me know if that works for you.

[2017-02-27 03:07] dayAlone commented on #11
@webdeveric It works for me! 🎉

[2017-03-21 17:10] nh51515 commented on #12
Now I know more about how compiler works, I realized moduleAsset is working properly. I missed the detail that handleModuleAsset is not registered on this.compiler, but registered on the passed-in compilation instance. I will close it.

[2017-03-21 17:10] #12 closed

[2017-05-09 16:59] dietergeerts opened #14 "Why not use the publicPath setting from the output settings of webpack?"
Hi,

I was wondering why the plugin doesn't use the publicPath setting of webpack itself? Now you have to set two time the same thing, and it brings confusion, while the publicPath is just for that reason. Maybe I am not thinking of all possible scenarios, but I really can't see why it's needed.

[2017-05-09 17:29] webdeveric commented on #14
@dietergeerts You are correct in that they do the same thing, but there is one important difference.

Webpack's `publicPath` should be a `string` (see [documentation](https://webpack.js.org/configuration/output/#output-publicpath)) and the manifest's `publicPath` can be a `string` or a `function`. This allows you to add your own custom logic to determine what gets saved to the manifest. For exampl

[2017-05-12 18:06] #14 closed

[2017-05-13 13:58] dietergeerts commented on #14
Thx for the clarification. I'm playing with webpack and haven't worked with it a lot yet, so it can be confusing that different plugins are acting so differently with the webpack settings etc...

[2017-05-30 18:49] webdeveric commented on #10
@QWp6t I've added a couple options to `v0.7.0` that you may find useful.

- [`customize`](https://github.com/webdeveric/webpack-assets-manifest#customize-callback)
- [`contextRelativeKeys`](https://github.com/webdeveric/webpack-assets-manifest#options)

I went ahead and cloned your project to see what it would take to replicate what you have here: https://github.com/roots/sage/blob/74b485be95aa25a

[2017-08-07 16:06] delambo opened #17 "Merging should not customize assets"
## The problem

Merge is calling `customize` resulting in assets being customized twice.

## Technical details

`processAssets` calls `set` which calls `customize`. That's good. But when you try to `maybeMerge` it also uses `set` which results in another call to `customize`.

### Webpack version

3.1.0

### Webpack config

If my description isn't enough, I'll try to piece together my config (I'm u

[2017-08-07 21:47] webdeveric commented on #17
Can you provide a sample output file?

`set` is only called during `maybeMerge` when the `key` does not exist in `assets`.
See [WebpackAssetsManifest.js#L277](https://github.com/webdeveric/webpack-assets-manifest/blob/fb30ef17fa1c20d37a0a328181583ec7b847d904/src/WebpackAssetsManifest.js#L277)

[2017-08-08 22:05] webdeveric commented on #17
@delambo I've updated the merge behavior.

- `merge: false` - No change.
- `merge: true` - It will copy the existing keys/values without modification.
- `merge: 'customize'` - Allows customize during merge.

  Example:

[code]

Can you try it out and see if it resolves your issue?
It hasn't been published yet so you'll have to get it from Github.

[code]

[2017-08-09 01:54] delambo commented on #17
@webdeveric - Sorry, I found another solution and worked around this problem since I can uniquely test for my server assets. From the sound of it, that sounds like a good solution. I think a user should be able to opt out of customizing an asset during merge.

[2017-08-10 19:37] #17 closed

[2017-09-13 04:45] philipwalton opened #19 "writeToDisk doesn't seem to be working"
I have multiple build processes going on at the same time, so I need to do asset revision management myself (and thus don't need this plugin to write the results to disk, just give me the filenames so I can do it myself).

The documentation says the `writeToDisk` option defaults to false, but when I add this plugin to my list of webpack plugins, it always outputs a file with the name `manifest.jso

[2017-09-13 11:22] webdeveric commented on #19
@philipwalton The manifest file is always emitted like any other asset. The `writeToDisk` option exists for when you're using webpack-dev-server and you need the file to be actually written to disk and not only kept in memory.

If you have a custom build process and you want to handle writing the file yourself, you can use the `done` event. See the [example in the readme](https://github.com/webdev

[2017-09-19 17:59] #19 closed

[2017-10-23 21:24] theacastus opened #20 "How can I compile twbs (main issue is scss) using webpack-assets-manifest?"
Well, I don't have a problem. I have a question. I want to use Bootstrap (Twitter bootstrap) with webpack, which requires sass-loader, postcss-loader and autoprefixer. But instead of these, I want to use manifest. The webpack-manifest-plugin seem to not support SCSS in a way I want to, but this plugin looks better to me.

Can you help me with that please ? I am not Node or JS dev. I work in PHP bu

[2017-10-23 21:37] webdeveric commented on #20
@theacastus This plugin does not do any transforming of code like babel or node-sass. It only records the results of a Webpack build.

The [Webpack documentation ](https://webpack.js.org/concepts/) is a good place to start. There are also plenty of [webpack boilerplate repos](https://github.com/search?utf8=%E2%9C%93&q=topic%3Awebpack+topic%3Aboilerplate) on Github you should checkout.

[2017-10-23 21:37] #20 closed

[2017-10-23 21:38] theacastus commented on #20
@webdeveric Thank you, obviously I have missed the whole point of it. f... Thank you, I am going straight for the docs!

[2017-12-11 21:00] gaje opened #21 "Manifest file gets overwritten in multi-compiler mode"
Running webpack in multi-compiler mode, the manifest file gets overwritten instead of merged due to async nature:

[code]

This results in a manifest file that sometimes has a single entry, or sometimes incomplete JSON.
Example output:
[code]
Or sometimes just a single entry gets output:

[code]

[2017-12-11 22:20] webdeveric commented on #21
@gaje Have you tried specifying the `assets` option?

https://github.com/webdeveric/webpack-assets-manifest#sharing-data

[2017-12-11 22:28] gaje commented on #21
@webdeveric Can you provide an example of how that would work?

[2017-12-11 22:30] webdeveric commented on #21
It is in the readme. See the link ☝️ I posted.

[2017-12-11 23:21] gaje commented on #21
Yea i read that, but i'm not sure i understand how to use that to make the file not overwrite itself.

[2017-12-11 23:28] webdeveric commented on #21
@gaje Try this.

[code]

[2017-12-11 23:39] gaje commented on #21
@webdeveric oh wow okay that was simpler than i was making it. Thanks for your help!

[2017-12-11 23:39] #21 closed

[2018-01-25 14:16] mischah opened #23 "Question: How to handle the fact, that other plugins need the content of manifest.json?"
Hej, I guess I might have an unusual use case 😆

## The problem
I have a plugin which needed the filenames generated by `webpack-assets-manifest`.

I read that plugins are applied in the order they are defined in the `plugins` array of the Webpack config. So I try to `require('../.manifest.json');` in the plugin which is defined after `webpack-assets-manifest`. But this fails. Probably because of

[2018-01-25 14:57] mischah commented on #23
Just pushed the current non working status to a branch in case you’d like to see it in action:
https://github.com/micromata/Baumeister/tree/webpack-assets-manifest

[2018-01-25 15:45] webdeveric commented on #23
@mischah I looked at your code and made a small update to `webpack.base.babel.js` which seemed to work. With `webpack-assets-manifest`, you can access the `assets` property directly to see what will be in the json output.

Relevant parts below. Let me know if that works for you.

[code]

[2018-01-25 18:57] mischah commented on #23
@webdeveric It just works. Thank you so much 💖

So I guess, accessing file-system was the bootle neck. Good to know.

[2018-01-25 18:57] #23 closed

[2018-03-01 11:22] tdd opened #24 "Feature entrypoint dependency listings in the manifest"
Hey Eric!

Thanks for keeping this plugin up-to-date so I can use it with v4! 👏

## The problem

The manifest currently only maps individual chunks to their final paths. But because of bundle/code splitting (which is automatic in Webpack 4 when setting `optimization.splitChunks.chunks` to `'all'`, a godsend), when I want to load "what I need for entrypoint X", I need to know the multiple JS/CSS in

[2018-03-01 13:40] webdeveric commented on #24
Can I see your `done` callback and some sample output of the `manifest.json`?

[2018-03-01 13:51] tdd commented on #24
Sure thing. Right now I filter (both for the base manifest entries and my extra output) on CSS+JS, as fonts etc. are not referenced from the HTML in any way. But here goes:

[code]

Example output:

[code]

[2018-03-03 19:46] webdeveric commented on #24
Thanks. I'll take a look this weekend.

[2018-03-05 11:13] leebenson opened #25 "Handling async chunks from `splitChunks`?"
Using Webpack 4, this plugin works perfectly with sync chunks, but doesn't handle async chunks generated by `import()` statements.

A dump of my `manifest.json`:

[code]

But on the filesystem:

<img width="352" alt="screen shot 2018-03-05 at 11 12 35" src="https://user-images.githubusercontent.com/719722/36972216-3a2d4f38-2066-11e8-9323-e45998745f78.png">

[2018-03-05 21:19] webdeveric commented on #25
@leebenson I looked into this a long time ago (Webpack v1) and from what I can remember, it wasn't possible/feasible to get a name for chunks loaded with `require.ensure` (now `import()`). And since async chunks are loaded from other files (`main.530c2d547d428f017101.js` in your example) and not loaded directly with a `<script>` tag, I didn't see the need to include them in the `manifest.json`.

A

[2018-03-06 22:07] webdeveric commented on #25
@leebenson After looking into this a bit, I've found that you can opt-in to having your async chunks included in the `manifest.json` by providing a `webpackChunkName` comment in the [`import()`](https://webpack.js.org/api/module-methods/#import-). I'm still looking at it to see if this can be automated.

Example:
[code]

[2018-03-09 22:55] webdeveric commented on #24
@tdd I've added this functionality to my [`dev`](https://github.com/webdeveric/webpack-assets-manifest/tree/dev) branch.

[code]

`entrypointsKey` defaults to `entrypoints` and can be set to `false` if you want the entrypoints to be at the root of the manifest.json.

Let me know if that works for you.

[2018-03-12 11:16] tdd commented on #24
Hey @webdeveric that's awesome!

I'm in the middle of another feature dev right now and don't want to stash and branch, but I'll be giving it a whirl later today or tomorrow and let you know. Implementation looks good at any rate.

Best,

[2018-03-20 11:04] tdd commented on #24
Hey @webdeveric!

Sorry it took me a bit longer to try this out. Just did, and it works just fine, I get the exact same results than I did with my custom tweaks.

Now all I need is an updated `latest` tag on npm 😉

Thanks a ton!

[2018-03-20 16:59] webdeveric commented on #24
I'll try to release the next version this week. I've updated some stuff and I need to write some tests.

[2018-03-26 11:37] tdd commented on #24
Hey @webdeveric!

Can't wait to see this on npm.

It seems like you occasionally force-push to `dev`, which removes its former commits from accessible history and makes our installs break (`package-lock.json` will store whatever head commit the `package.json`-referenced branch was on, and npm will re-install from there).

Best,

[2018-03-26 16:20] #24 closed

[2018-04-02 18:28] gauravtiwari opened #28 "manifest.json isn't updated for subsequent rebuilds"
## The problem

manifest.json isn't updated for subsequent rebuilds when using watcher and dev server

## Technical details

In order to reproduce,

1. Update to latest version
2. Run dev server or watcher for initial compilation
3. Change a word in the entry file, the manifest is updated fine
4. Revert change, the manifest is updated fine
5. Reapply the changes again, the manifest is still same f

[2018-04-02 20:14] webdeveric commented on #28
@gauravtiwari I have a fix in my `dev` branch. Can you try it out and let me know if it solves your issue?

[2018-04-02 20:54] gauravtiwari commented on #28
@webdeveric Works great 👍 thanks for quick fix.

[2018-04-02 20:55] gauravtiwari commented on #28
Perhaps make a minor release with this patch please?

[2018-04-02 20:56] #28 closed

[2018-04-02 20:59] webdeveric commented on #28
@gauravtiwari I've published `v3.0.1`.

[2018-04-02 21:00] gauravtiwari commented on #28
awesome, thank you so much ❤️

[2018-04-06 03:21] shakiba opened #30 "When used with multiple instances extract-text plugin only one of them is added to manifest."
## The problem
When used with [multiple instancesof `extract-text-webpack-plugin`](https://github.com/webpack-contrib/extract-text-webpack-plugin#multiple-instances)  only one of them is added to manifest.

## Technical details

### Webpack version
3.x

### Webpack config
[code]

### Operating system

[2018-04-06 03:46] webdeveric commented on #30
@shakiba Please post your webpack config.

[2018-04-06 03:49] shakiba commented on #30
My config is too big, but let me strip it down and I will post it.

[2018-04-06 04:09] shakiba commented on #30
@webdeveric I added the config to the issue report above.

[2018-04-06 18:17] shakiba commented on #30
@webdeveric It worked, thanks for very quick help!

[2018-04-06 18:23] #30 closed, assigned to nobody

[2018-04-19 00:21] jimblue opened #31 "option transform render at the end of manifest"
## The problem

What's done with transform option always render at the end of manifest.
Even if the name start with *a*.
I've also try to unshift, nothing works. 😭

<img width="760" alt="screen shot 2018-04-19 at 02 17 38" src="https://user-images.githubusercontent.com/10623367/38964602-dd215b60-4377-11e8-85bd-fcb67ea3a452.png">

### Webpack version

webpack version **4.6.0**

### Webpack config

[2018-04-19 03:59] webdeveric commented on #31
`assets` is an object so adding new properties will put them at the end when JSON stringified.
If you want to add properties to the top of the manifest, something like this should work.

[code]

[2018-04-19 04:07] jimblue commented on #31
Awesome thank you so much @webdeveric !

[2018-04-19 04:07] #31 closed

[2018-04-27 21:44] stnwk opened #33 "`webpack-sources` marked as peerDep?"
Why is `webpack-sources` defined as `peerDep` in `package.json` but never mentioned in the docs? Do we actually need to install it too? 🤔

Thanks for clarification :)

[2018-05-02 14:08] #33 closed

[2018-05-03 11:51] justillusion opened #34 "error: TypeError: Cannot read property 'compilation' of undefined"
## The problem
I got an error on build:
TypeError: Cannot read property 'compilation' of undefined
    at WebpackAssetsManifest.apply (/home/vladimir/projects/indicrm-frontend/node_modules/webpack-assets-manifest/src/WebpackAssetsManifest.js:131:20)
    at Compiler.apply (/home/vladimir/projects/indicrm-frontend/node_modules/tapable/lib/Tapable.js:375:16)
    at webpack (/home/vladimir/projects/in

[2018-05-03 12:03] #34 closed

[2018-08-23 03:49] FranklinWhale opened #37 "Option to disable asset output when entrypoints is true"
## The problem
When the `entrypoints` option is true, the output JSON will have a property called `entrypoints` and the type of the value of which is `Map<string, Map<string, Array<string>>>`. That makes the JSON no longer a simple `Map<string, string>`. In my use case, only the object in `entrypoints` is necessary. I hope there will be an option to output the contents of `entrypoints` only, effec

[2018-08-27 03:55] webdeveric commented on #37
@FranklinWhale Try this.

[code]

[2018-09-05 16:08] JSteunou opened #38 "entryPoints does not filter async from initial chunks"
## The problem
Following this issue https://github.com/webdeveric/webpack-assets-manifest/issues/24 all chunks are listed in entrypoints, but only those required for the initial load are truly needed.
The problem is when using this list to generate our own html file, too many js files are loaded. I have a build with 7 chunks listed for 1 entry point, but only one is truly needed at initial load. T

[2018-09-06 15:06] JSteunou commented on #38
This is unexpected but it seems that all the chunks I had where in fact necessary, so it seems the list is already filter. My bad :sweat:

[2018-09-06 15:06] #38 closed

[2018-09-20 20:21] renchap opened #39 "Invalid manifest with the latest mini-css-extract-plugin"
After updating `mini-css-extract-plugin` from 0.4.2 to 0.4.3, the manifest is no longer valid.
Assets referenced via the CSS are missing, and some assets are pointing to unrelated paths. For example (from the issue below):

With 0.4.2:
`"images/create/wallet.png": "images/create/wallet.png"`

With 0.4.3
`"images/create/Create.scss": "images/create/wallet.png"`

See https://github.com/webpack-contr

[2018-09-21 17:10] webdeveric commented on #39
@renchap I'm using `module.userRequest` to get the original filename and it is wrong when using `mini-css-extract-plugin` `0.4.3`. Its fine in `0.4.2` and below. Its being set to the css file instead of the asset (bg image, font, etc.). The other loaders I'm using have the expected value for `module.userRequest`.

I tried another webpack manifest plugin and I get the same result. This issue is not

[2018-09-22 11:31] piecyk commented on #39
@webdeveric had a quick look, maybe this approach is better? It looks like it fixes the issue also all your test pass 🤔 IMHO using `module.identifier()` is much safer, what do you think ?

https://github.com/piecyk/webpack-assets-manifest/commit/2e07ad92c4eda363259b98fc6e946cc7b18175cc

[2018-09-22 15:59] piecyk commented on #39
Hmm maybe even simpler, only set name and originalName when extensions match

https://github.com/piecyk/webpack-assets-manifest/commit/5dcba5cd9436fd3c4b28e6c4a820e3ee6172fcb0

[2018-09-24 21:13] webdeveric commented on #39
@piecyk I'm trying it out locally. It looks promising.

[2018-09-25 20:47] webdeveric commented on #39
@renchap I have a fix in my `dev` branch.

Can you try it out and let me know how it works for you?

[code]

[2018-09-26 19:35] renchap commented on #39
Seems to work fine for me! 👍

[2018-09-26 20:37] #39 closed

[2018-09-26 20:52] webdeveric commented on #39
@renchap The updated version has been published to npm.

[2018-09-26 20:55] piecyk commented on #39
Good work @webdeveric 👍

[2018-10-19 03:28] deepkolos opened #41 "support autoDllPlugin's output"
## The problem
webpack-assets-manifest doesn't capture autoDllPlugin's vendor output

## Technical details
customize callback's output
[code]

### Webpack version
webpack@4.19.0

### Webpack config
[code]
### Operating system
win 7

[2018-10-19 03:45] deepkolos commented on #41
i use transform to do this
[code]

[2018-10-19 03:45] #41 closed

[2018-11-15 14:34] brandoniffert commented on #11
The fix works for me when I am not using the `entrypoints: true` option, but when I do use it, the hot-update is present still after a hot reload.

**manifest.json - Initial WDS start**
[code]

**manifest.json - After a hot reload**
[code]

[2018-11-15 17:57] webdeveric commented on #11
@brandoniffert Can you install from my dev branch and see if that works for you?

[code]

[2018-11-15 20:04] brandoniffert commented on #11
@webdeveric Yeah, that works. Thanks for the quick response!

[2018-11-15 20:29] #11 closed

[2018-11-15 20:35] webdeveric commented on #11
@brandoniffert The updated version has been published to npm.

[2018-12-05 01:53] JPOak opened #43 "Just output filenames"
I am using the MiniCssExtractPlugin and I am I have the Output like so:

[code]

Thus In my manifest.json it outputs like:

[code]
I would like to have only the file name for the css instead of the entire output path. I did not see an option to just print out filenames. Is this possible? Maybe this is more of a MiniCssExtractPlugin issue as it doesn't seen to have a separate Output option.

[2018-12-05 02:16] webdeveric commented on #43
@JPOak This can be done using the `customize` hook ([example](https://github.com/webdeveric/webpack-assets-manifest/blob/3969c120a28b8d56838c608e54ec25560c2d08db/examples/customized.js#L6)).

Something like this should work (untested and quickly written).

[code]

[2018-12-05 03:37] JPOak commented on #43
@webdeveric That looks like it worked. Thanks so much.

[2018-12-05 03:37] #43 closed

[2019-01-08 18:02] davidkron opened #44 "Option to generate key based on the physical location"
I'm currently in the process of modernizing an existing server-side rendered application by migrating the client-side code to a asset pipeline based on webpack. To generate the appropriate paths server-side I require the help of a manifest to translate simple file paths to the effective output after webpack has built everything (including hash).

In my production build I am using a flat folder out

[2019-01-24 09:35] ydegtyar opened #45 "Prevent stringify for manifest trasformation"
Can't transform manifest into static PHP class for memory optimizations. After the write, the class has \n instead of line separators and double quotes at the beginning and in the end. Can I prevent JSON.stringify function to write file different from json?

[2019-01-24 13:36] webdeveric commented on #45
@ydegtyar This plugin currently only outputs a JSON document and was not intended to work that way.
Maybe I can help come up with a workaround. Can you show me your code?

[2019-01-29 13:44] philipnilsson opened #46 "`output` option does not respect directories"
## The problem

I've configured webpack-assets-manifest as

[code]

however the manifest appears in the root when I run `webpack-dev-server`.

This is a problem for me re: migrating from `webpack-manifest-plugin` for my existing app that expects a manifest in this folder.

### Webpack version

4.20.2

### Operating system

MacOS Mojave (10.14.2)

[2019-01-29 15:20] webdeveric commented on #46
@philipnilsson have you tried using `writeToDisk: true` and using an absolute path for your `output` option? Maybe something like `path.join(__dirname, '/your/path/manifest.json')`.

If that doesn't work for you, can you post your webpack config so I can get it running locally?

[2019-02-14 15:55] somebody32 opened #48 "Etrypoints being overwritten in multi-compiler mode"
## The problem
When using assets-manifest plugin for the multi-compiler webpack configuration I can share assets between manifests and it works great.

But if I add `entrypoints` option only entrypoints from the last compilation are stored. Am I doing something wrong or is it not supported yet?

Thanks in advance!

[2019-02-14 16:10] webdeveric commented on #48
@somebody32 I noticed that and I have a fix locally but I'm also doing some other updates so its not ready yet.

You can prevent this by using the [entrypointsKey](https://github.com/webdeveric/webpack-assets-manifest#entrypointskey) option in one of your `WebpackAssetsManifest` instances.

[2019-02-14 16:17] somebody32 commented on #48
thank you @webdeveric! that is exactly what I'm doing now, but as soon as my config is wrapped with rails/webpacker it requires me to jump through some hoops :) Thanks again for your work!

[2019-02-16 23:45] heygrady opened #49 "Should output all assets"
Was trying to use this in an ejected create-react-app.

1. create-react-app uses [`webpack-manifest-plugin`](https://www.npmjs.com/package/webpack-manifest-plugin), which is pretty useless (https://github.com/facebook/create-react-app/issues/5513).
2. The good thing about `webpack-manifest-plugin` is that it outputs _every_ resource, including images and resources from [`copy-webpack-plugin`](http

[2019-02-18 18:21] webdeveric commented on #49
Probably related to #25

[2019-03-06 08:38] PikachuEXE commented on #48
@somebody32
How do you workaround this issue?
I am trying to have multiple targets (one for ES5 one for ES2015)
But (rails/webpacker is hardcoded to use `entrypoints` to look up chunks)[https://github.com/rails/webpacker/blob/v4.0.1/lib/webpacker/manifest.rb#L21-L29]

[2019-03-06 08:53] somebody32 commented on #48
@PikachuEXE in my case the second target doesn't have multiple entrypoints that is why I've totally disabled it:
[code]

[2019-03-07 05:58] PikachuEXE commented on #48
@somebody32
Thanks
I think I found a way to workaround it by replacing `setRaw` function
Let me post result later when I actually get it to work

[2019-03-07 09:05] PikachuEXE commented on #48
My workaround/hack:
[code]

[2019-03-15 08:43] persocon commented on #25
I saw that it goes to the root of the manifest, is it possible to include it to the entrypoint it belongs?
the idea behind it is to make custom prefetch of assets

[2019-03-19 10:17] williamabbott opened #50 "Will this help prevent 404's when deploying new chunks?"
Vue SPA, vue router. Quick question before I take it for a spin:

Scenario: A user is active on the web app. We make a deployment. Old chunks are removed and replaced with new ones. Because SPA, rarely it's refreshed. Will this plugin help resolve this issue?

I suppose I will have to make sure the manifest is reloaded with every route change so we can know if any asset paths have changed.

[2019-03-19 12:59] webdeveric commented on #50
@williamabbott This plugin only records the webpack build output and its up to you to invalidate your SPA cache. Are you using [Service Workers](https://developer.mozilla.org/en-US/docs/Web/API/Service_Worker_API#Download_install_and_activate)?

[2019-03-19 13:18] williamabbott commented on #50
@webdeveric No I am not.

[2019-03-19 14:42] webdeveric commented on #50
@williamabbott How are you building this SPA? Are you using hashed output filenames and the [html-webpack-plugin](https://github.com/jantimon/html-webpack-plugin) to generate your `index.html` file? If so, you _might_ not need this plugin. It won't hurt anything to keep using it though. I usually add it to all my projects for auditing purposes (recording build time, CDN URLs, SRI hashes, etc.).

[2019-03-19 14:43] williamabbott commented on #50
@webdeveric no it's a vue cli project

[2019-03-19 14:53] webdeveric commented on #50
@williamabbott I've never used that one. Google/Stackoverflow may be your best bet for now.
Feel free to post a new issue if you run into a problem or have a feature request.

[2019-03-19 14:53] #50 closed

[2019-03-20 22:30] fsateler commented on #49
Looks like for some reason this plugin looks at `stats.assetsByChunkName`, but CopyWebpackPlugin does not add the files there (possibly because there is no chunk to attribute the files to?), instead it adds them to `stats.assets`

[2019-03-29 15:11] irudoy opened #51 "Webpack@5 DeprecationWarning"
[code]

[2019-03-29 15:25] webdeveric commented on #51
@irudoy I already have this fixed locally. Just waiting on Webpack 5 to be released.

[2019-03-29 15:25] #51 closed

[2019-03-30 14:14] irudoy commented on #51
@webdeveric push it to webpack5 branch maybe?

[2019-04-02 18:37] rkumorek opened #52 "Manifest.json for each config when in multi-compiler mode"
Hey,
Is it possible to generate manifest.json for each config when using multi-compiler mode? Currently it only writes one to output path from last config but I need manifest for each separately.

[code]

In each `assets` folder I'd like to have manifest.json generated.

[2019-04-02 19:17] webdeveric commented on #52
@rkumorek Can you add `done()` like in the following example:

[code]

I ran your example locally with ☝️ and I got two different output paths.

You could also use an absolute path in the [`output` option](https://github.com/webdeveric/webpack-assets-manifest#output).

[code]

[2019-04-02 19:33] rkumorek commented on #52
Great, this works:
[code]

I think I tried that but without `/manifest.json` at the end and that's why it didn't work.

Thank you!!!

[2019-04-02 19:33] #52 closed

[2019-04-20 01:00] jdb8 commented on #44
@webdeveric Pretty sure this is the same issue I'm running into. I'm also trying to do something similar with a flat output directory, but changing my file-loader `name` option from `[path][name].[hash].[ext]` to `[name].[hash].[ext]` changes the *key* of the manifest file rather than just the value, which is what I expected.

E.g. `[path][name].[hash].[ext]` gives me:

[code]
which is fine, but I

[2019-04-21 06:13] unframework commented on #44
Want to chime in with similar issues (thanks for your work on this plugin, by the way!).

On my current project on occasion we have files in different folders sharing the same filename. This makes the resulting manifest JSON drop all but one of those files.

The part of code responsible for this is here: https://github.com/webdeveric/webpack-assets-manifest/blob/46757137a021085cd560f6ff3f226e51d00

[2019-04-21 23:08] jdb8 commented on #44
@unframework I think that line might be from an older version? I dug into this a little and ended up at https://github.com/webdeveric/webpack-assets-manifest/blob/051243ec8963be69ab8565b5998032cc3a020a7a/src/WebpackAssetsManifest.js#L552, but the problem is still as you say: the `originalName` ends up being dependent on the `dirname` of the output filename, which might not have any path in it (e.g

[2019-05-08 20:47] jdb8 commented on #44
Created a PR to implement this - let me know what you think: https://github.com/webdeveric/webpack-assets-manifest/pull/53

[2019-05-09 20:57] jdb8 opened #54 "If multiple assets map to the same output asset name, only one key is included"
## The problem

When emitting files from e.g. file-loader that generate files with the same path, only one key is included in the manifest, when I would expect all keys to be included pointing to the same filename.

E.g. a contrived example: if setting file-loader's `name` option to a static value such as `foo.png`, I would expect the manifest.json to look something like:

[code]

when in reality,

[2019-05-11 01:28] mxmul commented on #25
+1 for associating the async chunks with their entrypoints somehow. I'd like to do something similar to [GoogleChromeLabs/preload-webpack-plugin](https://github.com/GoogleChromeLabs/preload-webpack-plugin) in my application, but it's this plugin doesn't currently tell me which assets should be preloaded/prefetched for a given entrypoint.

[2019-08-14 01:01] elstgav commented on #48
@webdeveric anything we can do to help get this merged in master?

[2019-08-15 09:26] huzhongchun commented on #25
Have you resolve this problem? @leebenson

[2019-09-23 04:20] pxwee5 commented on #38
Reviving this.
Can we get this feature please? It'll be nice to only include initial chunks in the manifest and not everything in the project.

[2019-10-05 13:25] pavelloz commented on #25
https://github.com/danethurber/webpack-manifest-plugin - this plugin seems to do it pretty good

[2019-10-05 17:02] mxmul commented on #25
For my specific use-case (preloading React components in async chunks), the [@loadable](https://github.com/smooth-code/loadable-components) library solved the problem (specifically the SSR integration).

[2019-11-22 12:05] Serzh470 opened #56 "Not added compressed files in manifest"
## The problem
After using CompressionWebpackPlugin final chunk and entries files appeared in manifest.json without .gz extension

## Technical details
After using CompressionWebpackPlugin final chunk and entries files appeared in manifest.json without .gz extension

### Webpack version
"webpack": "^4.41.1",
"compression-webpack-plugin": "^3.0.0",
"webpack-assets-manifest": "^3.1.1",

### Webpack

[2019-11-27 18:02] cjbottaro opened #57 "How to use with css?"
I have css like:
[code]

My webpack dev server output shows...
[code]

How to get webpack to replace `logo-background-svg` with the hashed version?

### Webpack version

webpack "4.41.2"
webpack-assets-manifest "3.1.1"

### Webpack config

[code]

Thanks for the help.

[2019-12-06 10:14] mpalenov opened #58 "Hashed file in the dist folder does not presented in manifest"
## The problem
I ran into a problem that some "values" in manifest.json do no match real files in the dist folder.

## Technical details

This is `manifest.json`:

[code]

The real files are:
![image](https://user-images.githubusercontent.com/3775283/70314900-bac55e00-1818-11ea-9a3e-2b3a14c4653a.png)

`polyfills-es5-es2015.1879d4dcd8173a0c5190.js` doesn't exist on the disc and `assets/styles.scss`

[2019-12-30 05:40] webdeveric commented on #45
Closing due to no response.

[2019-12-30 05:40] #45 closed

[2019-12-30 22:53] webdeveric commented on #57
@cjbottaro Where is your loader for `.svg` files? What does your css output look like?

[2019-12-30 22:57] webdeveric commented on #46
Closing due to no response.

[2019-12-30 22:57] #46 closed

[2020-01-05 16:19] jlurena commented on #57
I'm also interested in this question. I'd like webpack using css-loader and sass-loader to replace `src` with the hashed version.

[2020-01-06 18:10] cjbottaro commented on #57
Loader config for svg (and other images):
[code]

Webpack dev server output:
[code]

Thank you!

[2020-02-23 00:13] justin808 opened #64 "Concurrent builds and the merge option"
## The problem
Regarding using the merge option, when I run two concurrent instances of webpack to build both a client and server bundles (React server-side-rendering), and both webpack configs use the merge option, one of the updates is not used. For example, the client config reads the old server bundle hash in the manifest and, since it runs longer, it outputs the old server bundle hash even th

[2020-03-12 22:15] catalinux opened #65 "Changing the key for the mainjs"
my manifest file is generate OK, smth like this:

[code]

Is there a way to change that key`main.js`

I build multiple js files , one per each language and I want way to have all the filenmes int he manifest.json

[2020-03-13 16:57] Lexicality opened #66 "Customise entrypoint generation"
## The problem
We have a loader in Django that reads the output of this plugin and outputs the files needed for each entrypoint on the correct pages and that works well, however it can't easily access any other attributes about the files (eg `integrity` hashes)

## Technical details
I would like the files in the `entrypoints` to point at the assets rather than the publicpath. I also want to exclud

[2020-03-18 16:52] SampsonCrowley opened #68 "Mkdirp < 1 deprecated"
## The problem
webpack-assets-manifest > mkdirp@0.5.3: Legacy versions of mkdirp are no longer supported. Please update to mkdirp 1.x. (Note that the API surface has changed to use Promises in 1.x.)

## Technical details
mkdirp is deprecated. we need to update to 1.x and switch to promise based chains for it

### Webpack version
4.41.2

### Webpack config
irrelevant

### Operating system
linux

I

[2020-05-13 03:15] webdeveric commented on #65
@catalinux Can you share your webpack config?

[2020-05-29 21:12] webdeveric commented on #58
@mpalenov Do you have a minimal reproducible test case that shows this issue? Maybe a repo I can clone and run locally?

[2020-05-29 21:32] #68 closed

[2020-08-16 07:01] mojtabaahn opened #77 "fileExtRegex option getting ignored"
## The problem
I'm trying to filter only js and css files for manifest.json. tried a very simple regex for it and it had no effect on outputs (svg and font files did NOT get filter).

**webpack.config.js**
[code]

**manifest.json** bot after and before using fileExtRegex option:
[code]

### Webpack version
v4.44

### Operating system
Windows 10

[2020-08-16 13:43] webdeveric commented on #77
The `fileExtRegex` option does not do any filtering.

You'll need to use `customize`.

Example: https://github.com/webdeveric/webpack-assets-manifest/blob/master/examples/customized.js

[2020-08-16 13:43] #77 closed

[2020-08-16 17:29] mojtabaahn commented on #77
I already used **transform** hook to solve this, Do you think i need to switch to **customize** hook?

[code]

Another thing i want to mention is I believe **fileExtRegex** is missleading and its usage can be explained in documentation with more details.

Thanks!

[2020-08-16 19:18] webdeveric commented on #77
I find `customize` easier to use, especially when I want to do something based on one entry and not the entire manifest.

This should work for your use case.

[code]

---

The [documentation for `fileExtRegex`](https://github.com/webdeveric/webpack-assets-manifest#fileextregex) says

I think its fairly understandable, but if you'd like to provide more detail, PRs are welcome.

[2020-08-27 13:31] gzaripov opened #81 "Manifest written to wrong path in dev mode"
I have output: `/nginx/main/bff-manifest.json`, in dev mode because of this line
https://github.com/webdeveric/webpack-assets-manifest/blob/9647a1175e50c83bc539463e44d6fb3c7bc1050d/src/WebpackAssetsManifest.js#L483
it is stripped to `bff-manifest.json`.

What's purpose of this `path.basename`, can we just emit it the same way as in production?

[2020-08-28 05:55] webdeveric commented on #81
@gzaripov That only gets used if you're using `webpack-dev-server`. If I'm remembering correctly, I only keep the basename due to the dev server using a `MemoryFileSystem` which doesn't place files with an absolute path where you'd think.

[2020-09-10 19:27] justin808 commented on #64
@webdeveric Any comment here? Can you confirm that the webpack multi-compiler technique is OK to ensure that concurrent webpack builds work?

I know for certain that running concurrent `webpack --watch` processes causes the "merged" manifest to be written out when the process started building, rather than reading the contents right before writing. That results in super confusing behavior of having

[2020-09-14 19:48] justin808 commented on #64
Merging happens:

https://github.com/webdeveric/webpack-assets-manifest/blob/master/src/WebpackAssetsManifest.js#L386-L404

Writing the file happens:

https://github.com/webdeveric/webpack-assets-manifest/blob/master/src/WebpackAssetsManifest.js#L520

Ideally, we'd lock the manifest on disk to merge, read the file, merge changes, rewrite the file, and release the lock.

Right now, we

[code]

[2020-09-27 22:48] justin808 opened #89 "Manifest is easily written twice"
## The problem
The manifest will be written twice for non-webpack-dev-server mode. This creates additional possibilities for race conditions when the handleAfterEmit is called. Suppose that between the time webpack is writing the file, per the normal way it does and the handleAfterEmit does, the manifest.json had updated. The updates would be lost.

The writing per the options.writeToDisk happens

[2020-10-02 14:26] matteobad opened #95 "Add Support for Webpack 5"
## The problem

Is there any plan to add support for the upcoming **Webpack 5** release?

Right now we get the following deprecation warning:
*DeprecationWarning: Compilation.assets will be frozen in future, all modifications are deprecated.*

## Technical details

[DEP_WEBPACK_COMPILATION_ASSETS] DeprecationWarning: Compilation.assets will be frozen in future, all modifications are deprecated.

B

[2020-10-09 22:37] n-rodriguez opened #96 "Webpack Assets Manifest broken with schema-utils 3.x"
- Operating System: **ArchLinux**
- Node Version: **14.13.0**
- NPM Version: **6.14.8**
- webpack Version: **4.44.2**
- webpack-assets-manifest Version: **3.1.1**

### Actual Behavior

When I run Webpack it throws an error :

[code]

### How Do We Reproduce?

Run CI with `schema-utils` 3.x ?

[2020-10-09 23:09] nmummau opened #97 "How to generate multiple manifest.json files for separate parts of the PWA?"
## The Question
[Similar to this stackoverflow question](https://stackoverflow.com/questions/46203661/possible-to-have-multiple-manifest-json-for-pwa).

Is this possible to configure?
I would like a separate manifest.json for separate parts of my PWA, depending on which page the user is visiting.

[2020-10-11 12:07] webdeveric commented on #97
@nmummau  Are you referring to a [web app manifests](https://developer.mozilla.org/en-US/docs/Web/Manifest)?
This plugin does not generate those.

[2020-10-11 12:17] webdeveric commented on #96
@n-rodriguez I have an update locally. I'll try to publish to npm this week.

[2020-10-11 12:22] webdeveric commented on #95
@matteobad Yes, there will be Webpack 5 support. I'm working on that this week.

[2020-10-11 12:57] #81 closed

[2020-10-11 12:58] #65 closed

[2020-10-14 21:34] justin808 commented on #89
@webdeveric Any chance that you can comment on this one?

[2020-10-14 21:35] justin808 commented on #64
@webdeveric Any chance that you can comment on this one?

[2020-10-15 06:54] webdeveric commented on #89
@justin808 I'm working on updates for Webpack 5 at the moment. I'll try to get to this soon.

Thanks for pointing out `process.env.WEBPACK_DEV_SERVER`.That wasn't set the last time I looked for a way to detect if you're runnng `webpack-dev-server`.

[2020-10-15 16:49] madflow opened #98 "[Feature Request] Include assets from copy-webpack-plugin in output"
## The problem

In another Webpack Assets plugin - I can see assets copied by `copy-webpack-plugin` in the output.

For example I copy some TinyMce skins and the output yields:

```  "tinymce/skins/lightgray/content.mobile.min.css": "/dist/tinymce/skins/lightgray/content.mobile.min.css",```

With this plugin (which we currently use) - this does not seem to be possible.

Feature request:

* I want

[2020-10-15 17:18] webdeveric commented on #98
Duplicate of #49

[2020-10-15 17:18] #98 closed

[2020-10-19 14:28] webdeveric commented on #56
@Serzh470 This should be fixed in my next release that I'm working on now.

[2020-10-20 15:46] ivnflpz opened #100 "File-loader assets aren't received when using Webpack 5 cache"
## The problem
When using the new Webpack 5 persistent cache, the manifest.json is missing all assets from the file-loader on rebuilds.

## Technical details
I peeked at the entries the plugin receives by tapping into `customize` hook and I was able to verify that its not receiving any assets from the file-loader on rebuild. If I delete the cache, the assets are in the manifest. This might be rela

[2020-10-20 16:19] webdeveric commented on #100
@ivnflpz Can you try using the plugin version from my `dev` branch? It has initial support for Webpack 5 and it is a work in progress so do not use in production.

[code]

[2020-10-20 16:42] ivnflpz commented on #100
@webdeveric Yeah, looks like your changes fix this issue. Awesome! Curious if there's an ETA on your changes?

[2020-10-20 16:45] webdeveric commented on #100
@ivnflpz I'm going to try and address some other outstanding issues before I release an update. I'll work on it some more this week.
Not sure on when exactly I'll publish an update but it'll let you know when I do.

[2020-10-20 16:52] ivnflpz commented on #100
Sounds good. Thanks for the great work!

[2020-10-20 20:45] webdeveric commented on #64
@justin808 If you use one webpack process with multiple configs, the multi-compiler example should work for you.
If you use [parallel-webpack](https://github.com/trivago/parallel-webpack), which uses separate processes, it wont.

I'm updating this plugin to use a lockfile. Its a work in progress but you can follow along in my `dev` branch.

[2020-10-22 15:51] madflow opened #101 "Feature request: support accessing the original asset info in hooks"
## The problem

* As far as I can see - it is not possible to access the `info` of the original asset when using hooks.
* See: https://webpack.js.org/api/stats/#asset-objects
* Information in this object can however be used to create more predictive asset keys - when using the `copy-webpack-plugin`. Maybe also other plugins adding assets.

Feature request: Include the `info` object of the original

[2020-10-22 17:28] webdeveric commented on #101
@madflow The ability to see the current asset has existed in the `customize()` hook for a while now.
In the current version of this plugin (Webpack 4 compatible), it is the actual source object so it wasn't used very frequently.

The asset info object was added in Webpack 5 so I've updated `customize()` so that `asset` is an entry from `compilation.getAssets()`.

You will be able to do something l

[2020-10-22 17:28] #101 closed

[2020-10-23 08:05] madflow commented on #101
Perfect!

[2020-10-23 15:14] webdeveric commented on #97
Closing due to no response.

[2020-10-23 15:14] #97 closed

[2020-10-23 15:58] jasonwilliams opened #102 "Deprecation warnings are thrown in Webpack v5"
Webpack v5 is out and we updated, sadly we get some warnings being thrown.
They look like they're coming from this plugin.

`webpack-assets-manifest`: v3.1.1

[code]

[2020-10-23 15:59] webdeveric commented on #102
Duplicate of #95

[2020-10-23 15:59] #102 closed

[2020-10-23 16:12] jasonwilliams commented on #102
@webdeveric maybe it makes sense to keep the issue (#95) open while it's still a problem?
Otherwise you may get others raising the same issue again

[2020-10-23 16:29] webdeveric commented on #95
Reopening for visibility

[2020-10-23 16:29] webdeveric commented on #102
@jasonwilliams Good point :+1:

[2020-10-23 17:28] webdeveric commented on #58
Closing due to no response.

[2020-10-23 17:28] #58 closed

[2020-10-25 06:25] webdeveric commented on #66
@Lexicality I'm working on an updated version (in my `dev` branch) of this plugin and I've altered the behaviour of how the `entrypoints` data is created.
It will now use the value of the asset (ex: `manifest.get(name)`) so if you have customized the value, that will be used in the `entrypoints` data. The old behaviour can be used by using the new `entrypointsUseAssets` option.

[2020-10-25 21:08] webdeveric commented on #48
This should be fixed in my `dev` branch. I'm updating this plugin for Webpack 5 support. I'll try to release an update soon.

[2020-10-25 21:10] webdeveric commented on #44
See https://github.com/webdeveric/webpack-assets-manifest/pull/53#issuecomment-716103746

[2020-10-30 15:39] Lexicality commented on #66
Fantastic, thank you. I can't check right now but I'll try to dedicate some time to looking into this soon

[2020-11-04 17:04] michalmuchakr commented on #95
@webdeveric looking forward for webpack 5 update, do you know where we going to have this released?

[2020-11-05 09:34] matteobad commented on #95
Hi, @webdeveric would it be possible to have some kind of BETA/RC to test things out? I think it could be beneficial for all of us so that we can help you release the new version in the best way possible.

[2020-11-05 15:05] webdeveric commented on #95
@matteobad If you want to try out what I have so far, you can install from my `dev` branch.

[code]

[2020-11-20 18:56] jasonwilliams commented on #95
@webdeveric could you publish a `beta/next` tag on npm pointing to your dev branch?

[2020-11-22 23:07] guzart commented on #49
@webdeveric anything I can help you with to release a fix for this issue? [You mentioned](https://github.com/webdeveric/webpack-assets-manifest/pull/99#issuecomment-712194801) there are other issues you need to close?

[2020-11-26 18:05] jasonwilliams commented on #95
I checked out this project and ran yarn link against a project which uses it:
Master:
[code]

Dev:
[code]

Dev branch fails entirely.
This is using Webpack v5.7.0

[2020-11-26 18:11] jasonwilliams commented on #95
I checked out this project and ran yarn link against a project which uses it:
Master:
[code]
Warning, but still works.

Dev:
[code]

Dev branch fails entirely.
This is using Webpack v5.7.0

[2020-11-26 18:52] webdeveric commented on #95
@jasonwilliams I just tried my `dev` branch on a project of mine with webpack `5.7.0` and `5.8.0` and it works fine.

Can you provide a minimal reproducible test case that illustrates the problem?

[2020-11-26 18:59] jasonwilliams commented on #95
It could be weirdness with yarn link, can you publish a tag? that would be easier to integrate.

[2020-11-26 19:03] webdeveric commented on #95
@jasonwilliams I'm not at home today and have limited access at the moment.

[2020-11-28 15:07] madflow commented on #95
@jasonwilliams You can also just use the branch name for testing:

[code]

Working here with just a minimal Webpack 5 Project :S

[2020-11-28 16:34] jasonwilliams commented on #95
@madflow ill have to give it another go with that, I’m behind a proxy so it coming from npm worked best

@webdeveric whats left to work through before publishing a release?

[2020-12-02 18:17] #44 closed

[2020-12-02 18:17] #64 closed

[2020-12-02 18:17] #66 closed

[2020-12-02 18:17] #89 closed

[2020-12-02 18:17] #96 closed

[2020-12-02 18:17] #48 closed

[2020-12-02 18:17] #56 closed

[2020-12-02 18:17] #54 closed

[2020-12-02 18:26] #25 closed

[2020-12-02 18:26] #49 closed

[2020-12-03 11:25] PudottaPommin commented on #95
@webdeveric Hello, in release **4.0.0** was intentional to omit Webpack 5 as dependency? As is semver defined, it works only on Webpack 4

[2020-12-04 15:39] jasonwilliams commented on #95
Yeah that doesn't work for me @madflow im behind a proxy so can't pull from Github directly i would need it to be on NPM. I don't see why this would be an issue, publishing should be easy and it's how most packages test their beta/alpha releases.

[2020-12-07 16:31] #57 closed

[2020-12-07 18:09] #95 closed

[2020-12-07 18:14] webdeveric commented on #100
@ivnflpz I've published a new version that works with webpack 5.

[2020-12-07 18:14] #100 closed

[2020-12-07 18:16] webdeveric commented on #95
I've published a new version that works with webpack 5.
I'll keep my old `dev` branch around for a week in case anyone is using it.

[2020-12-10 10:07] Monokai opened #115 "Saving files in watch mode changes paths in assets file"
## The problem

I'm working on a project that runs webpack in watch mode using the `devServer` config. When I start the project, everything works fine and all the paths in the resulting assets manifest are correct. Whenever I change my code and save a random JS file, the assets paths are changed.

Version 3 didn't show this behavior, even with Webpack 5.

## Technical details

paths on first run:

[2020-12-10 22:55] ju1ius opened #116 "Entrypoints don't include the public path when entrypointsUseAssets is false"
## The problem
Using the following webpack config:
[code]
Results in the following manifest:
[code]
As you can see, the entrypoints values are not prefixed with the publicPath, eventhough the `publicPath` option is set to true.

### Version info:
[code]

[2020-12-16 14:48] airhorns commented on #116
I experienced this upgrading to `5.0.0` as well, had to turn on `entrypointsUseAssets`.

[2020-12-21 03:02] mpg-tomoya-komiyama commented on #115
Same here with `webpack-assets-manifest@~5` and `~4`.
It works fine with `~3`.

[2020-12-25 09:40] dkrnl commented on #115
same issue:
[code]

[2020-12-28 10:49] Stanzilla commented on #115
Same here

[2020-12-28 17:55] webdeveric commented on #115
@Monokai Can you install the plugin from my `watch-mode-update` branch and try again?

[code]

[2021-01-05 07:02] mpg-tomoya-komiyama commented on #115
@webdeveric
It seems to be fine in my project👍

[2021-01-05 07:44] Monokai commented on #115
@webdeveric Seems to be working. Thanks!

[2021-01-06 04:08] n-rodriguez opened #122 "Yarn2 compatibility"
## The problem

With :

* Yarn2 and [zero install](https://yarnpkg.com/features/zero-installs)
* webpack 5.11

when `webpack-assets-manifest` is enabled, it fails with error :

[code]

## Technical details

### Webpack version

### Webpack config

[code]
WebpackAssetsManifest options :

[code]
### Operating system

[2021-01-09 03:17] n-rodriguez commented on #122
@webdeveric any idea?

[2021-01-09 17:27] webdeveric commented on #122
@n-rodriguez I've seen this error message when I `npm link` the project to another project for local testing.

That error is being thrown from [`NormalModule.getCompilationHooks()`](https://github.com/webpack/webpack/blob/88610d738ff78fa3fb7f859ee284c632bca42a24/lib/NormalModule.js#L178).
Since its checking `!(compilation instanceof Compilation)`, maybe the `Compilation` being passed is from a dif

[2021-01-09 17:32] webdeveric commented on #116
@ju1ius @airhorns  I have a fix locally. I'll try to publish an updated version early next week.

[2021-01-10 13:37] n-rodriguez commented on #122
Sure

yarn 1 :

[code]

yarn 2 :

[code]

[2021-01-12 05:43] webdeveric commented on #115
@Monokai @mpg-tomoya-komiyama I've published an updated version to npm.

[2021-01-12 05:43] #115 closed

[2021-01-12 05:44] webdeveric commented on #116
@ju1ius  @airhorns I've published an updated version to npm.

[2021-01-12 05:44] #116 closed

[2021-01-13 04:13] saddamhbb opened #123 "Bundled JS from Webpack's Optimization Runtime Chunks and Split chunks not included in manifest.json"
## The problem
Bundled JS from Webpack's Optimization Runtime Chunks and Split Chunks not included in manifest.json.
Also occurs when using Copy Webpack Plugin.
This issue occurs only in Webpack watch mode.
Still have no idea what causing this issue and why it only occurred in watch mode.

Should I do manual inject to manifest.json?

Side notes: I am newbie to Webpack. Maybe there is solution to t

[2021-01-13 04:14] saddamhbb opened #124 "Bundled JS from Webpack's Optimization Runtime Chunks and Split Chunks not included in manifest.json."
## The problem
Bundled JS from Webpack's Optimization Runtime Chunks and Split Chunks not included in manifest.json.
Also occurs when using Copy Webpack Plugin.
This issue occurs only in Webpack watch mode.
Still have no idea what causing this issue and why it only occurred in watch mode.

Should I do manual inject to manifest.json?

Side notes: I am newbie to Webpack. Maybe there is solution to t

[2021-01-13 04:15] #123 closed

[2021-01-13 04:16] saddamhbb commented on #123
Sorry for inserting duplicated issues, I was getting error code 404 when submitting the first 1. So I resubmit again.

[2021-01-13 15:36] webdeveric commented on #124
@saddamhbb You have `WebpackAssetsManifest` in `dev.webpack.base.js` which is being used by client / server and it looks like the output is getting overwritten by the last one to finish.

Can you move that out of base and into the other two configs? You should also specify `output` on each one so you know where the manifest was created.

[2021-01-13 16:28] saddamhbb commented on #124
Hi @webdeveric,

Ah... I see, you are correct. Now I know the problem, the manifest was overwritten by the last compiled file.

Thank you so much, really appreciate the help.

[2021-01-13 16:28] #124 closed

[2021-01-13 22:27] trickeyone opened #125 "Manifest is written to multiple places when included in Angular build"
I wanted to move to this plugin instead of a different manifest plugin. However, it appears that the `manifest.json` is written in the compiler's output directory as well as the actual path specified for the manifest to be written. I am passing an absolute path for the output.

When Angular loads up, it does a `require('webpack-dev-server')` to simply include it in it's CLI startup. This results i

[2021-01-13 23:03] webdeveric commented on #125
@trickeyone Good catch. I hadn't thought of a package including `webpack-dev-server` but not using it.
I'll try and rework it when I get some time.

[2021-01-24 17:17] n-rodriguez commented on #122
@webdeveric hi there! any news?

error is still here :

[code]

[2021-01-28 19:54] artempartos commented on #122
have the same issue

[2021-01-28 20:54] artempartos commented on #122
as a workaround - I did next thing:
- removed plugin:
`webpackConfig.plugins.splice(2, 1)` where 2 - is an index of your WebpackAssetsManifest plugin
- then added plugin manually
[code]
working for me

[2021-02-07 21:36] webdeveric commented on #122
@n-rodriguez I've created a [temp repo](https://github.com/webdeveric/wam-yarn2-demo) showing that this plugin works with Yarn 2.

I think your issue is related to multiple versions of webpack being installed (`5.11.0` and `5.17.0` in your case).

[2021-02-07 21:36] #122 closed

[2021-02-08 10:53] n-rodriguez commented on #122
Wrong. These are requirements not the required library.

[code]

[2021-02-08 10:57] n-rodriguez commented on #122
But thanks to @artempartos we have a workaround :+1:

[2021-02-08 10:58] n-rodriguez commented on #122
And now the proof :

[code]

[2021-02-08 14:13] webdeveric commented on #122
@n-rodriguez My mistake on the package versions. I read it too quickly.

But, the fact remains that I was able to use my plugin with Yarn2 without any issues.
I suspect the issue you have is related to package resolution that is specific to your project.
Can you share your repo?

[2021-02-09 02:35] n-rodriguez commented on #122
;)

I see that :+1:

Can it be related to Webpack plugins order? Because the fix is about changing plugins order.

Unfortunately not, it's a private repo :/

[2021-02-09 02:48] kikyous opened #131 "lost [path] in key when boot with webpack 5 persistent cache"
## The problem
my webpack file-loader config
[code]

enable persistent cache:
[code]
first boot without persistent cache, it generate the correct manifest file,
[code]

restart webpack-dev-server with persistent cache , manifest file become:

[code]

## Technical details
No

### Webpack version
5.21.1

### Webpack config
    new WebpackAssetsManifest({
      output: "manifest.json",
      writeToD

[2021-02-09 03:53] webdeveric commented on #122
@n-rodriguez With the workaround, you're removing the plugin from the config provided by `@rails/webpacker` and adding it back in your custom config, which sounds like it resolves to the `webpack` you depend on in your `package.json`. I'm not a Rails dev and have not used `wepacker` personally so keep that in mind regarding my analysis.

---

In the `yarn why webpack` output you provided:

├─ @rai

[2021-02-09 05:05] webdeveric commented on #131
@kikyous I was able to replicate the issue you're having with the `webpack` cache and `file-loader` assets. I'll take a look and see what I can find out as to why that is happening.

I was unable to cause `webpack-dev-server` to fail to start, like you mentioned in your related issue.
By the look of the error message, its related to asset modules, but you didn't mention that in this issue.

 Do yo

[2021-02-09 06:35] kikyous commented on #131
In related issue i use webpack 5 asset module instead of file-loader.
and webpack config like this:

[code]

[2021-02-09 06:36] kikyous commented on #131
if you cant not replicate the related issue using above config, I will create a minimal reproducible example.

[2021-02-09 12:01] dmnrmr commented on #58
Here's a sample repo: https://github.com/dmnrmr/ng-10

Console output:

[code]

manifest.json contents:

[code]

[2021-02-14 22:12] strarsis opened #132 "Path from glob not correctly used in manifest"
## The problem
The from-path of a glob isn't correctly prepended in the manifest.

## Technical details
The files in `images/` are copied into the target directory in their own `images/` subdirectory.
However, the resulting manifest file lists these files without the `images/` subdirectory.
`./assets/images/svg/test.svg` → `./dist/images/svg/test.svg` - That is OK.
`manifest.json`:
[code]
`dist/im

[2021-02-15 01:45] webdeveric commented on #132
Can you provide a minimal reproducible example I can clone and run locally that shows the issue?

[2021-02-15 11:25] strarsis commented on #132
@webdeveric: https://github.com/strarsis/webpack-assets-manifest-path-issue
Clone it, install the npm dependencies, then run the build script: `npm run build`.
The `manifest.json` will contain only the subset of the whole path for files in subfolders, in that example `images/` being missing.

[2021-02-16 14:57] strarsis commented on #132
@webdeveric: Can I help further debugging this?

[2021-02-21 11:24] gustaff-weldon commented on #131
I believe I have the same problem. It does not matter if I use `cache: true/false`, it fails.
I will try to extract full config.

[code]

[2021-02-22 15:21] strarsis commented on #132
After some debugging I think I found the underlying issue:
The `handleNormalModuleLoader` method monkeypatches the `emitFile` method of the webpack loader context.
This is not sufficient for all keys to be matched later as webpack plugins also emit assets ([`emitAsset`](https://webpack.js.org/api/compilation-object/#emitasset) method),
which are not handled at all by this plugin, hence will not en

[2021-02-22 20:34] strarsis commented on #132
Well, after a multi-hour debugging session I found finally found out that the `contextRelativeKeys` option of this plugin fixes the issue. With being turned on, the paths become correct. 😿
[code]

[2021-02-22 20:34] #132 closed

[2021-02-25 13:27] gustaff-weldon commented on #131
☝️  I have found out that my problem was related to switching to `AssetModule` from `file-loader`.
The signature for name generator function changed from `(fileName: string) => string` to `(pathData: PathData, assetInfo: AssetInfo) => string)`

 previously, we were using custom name function for `file-loader`

[2021-02-26 08:28] FaraFara opened #134 "Remove wraping key "assets""
## The problem
How i can remove wrapping key "assets"? Needs only "entrypoints" and asset ("js","css" ....)
## Technical details

### Webpack version
5+
### Webpack config

### Operating system

[2021-02-26 13:40] webdeveric commented on #134
@FaraFara That was added intentionally due to `preload` and `prefetch` being included too. See the [example in in the readme](https://github.com/webdeveric/webpack-assets-manifest#new-in-version-4).

You can remove it by using the `transform` hook. [See example](https://github.com/webdeveric/webpack-assets-manifest/blob/master/examples/transformed.js). That hook allows you to have full control ove

[2021-03-01 09:23] kikyous commented on #131
@webdeveric any update about this? 😂

[2021-03-17 10:37] mildred commented on #131
See webpacker issue above with some details. I have a similar problem (but it happens every time). With the new AssetModule from webpack 5, the path component from the filename is lost in the manifest. I believe this is caused by:

https://github.com/webdeveric/webpack-assets-manifest/blob/43e94b7e595e93853bf3b2a683593882fabbfb57/src/WebpackAssetsManifest.js#L533-L536

where the filename is stripp

[2021-03-20 22:03] renchap commented on #131
I am having the same issue after configuring Webpack 5 persistent caching.

I am loading fonts using the `asset/ressource` type:
[code]

In a CSS file (I am using `css-loader`), I am referencing a font file:

[code]

Then, in my manifest file, depending on the state of Webpack's persistent cache, the key for this file is either `Montserrat-Regular.woff2` (cache enabled and not empty) or `static/Mo

[2021-03-27 21:56] webdeveric commented on #131
@kikyous I have an update that should fix your issue. Can you install my branch and give it a try?

[code]

[2021-03-29 02:18] kikyous commented on #131
@webdeveric this update fix my issue.

[2021-03-29 08:35] dreyks opened #140 "entrypoints data is overwritten in multi-compiler mode"
## The problem
When using webpack-assets-manifest in a webpack multi-config mode (and passing `assets` to hold the shared state) with `entrypoints: true` the resulting manifest only contains the last config's entrypoints

## Technical details
This here overwrites the whole `this.options.entrypointsKey` with the current compilation entrypoints
https://github.com/webdeveric/webpack-assets-manifest/b

[2021-03-29 11:07] webdeveric commented on #140
@dreyks I made lots of updates in v4. Please install that version and see if that fixes your issue.

[2021-03-29 13:55] dreyks commented on #140
i'll give it a try

[2021-04-01 19:50] webdeveric commented on #140
@dreyks Did v4 solve your issue?

[2021-04-01 21:03] webdeveric commented on #125
@trickeyone I've made some updates. Can you try with my branch?

[code]

[2021-04-02 06:12] dreyks commented on #140
i'm currently unable to switch to v4 since it only supports webpack 5 and i can't yet use it

i'll craft a test repository with webpack 5 and webpack-assets-manifest v4 aand see if it works today

[2021-04-02 07:13] webdeveric commented on #140
@dreyks That is not correct. v4 supports webpack 4 only. v5 is the current version of my plugin and it does support webpack 5.

[2021-04-02 07:16] dreyks commented on #140
oh, i see. got a bit confused. yup, will upgrade to v4 right away and report back

[2021-04-02 09:30] dreyks commented on #140
ok I tried v4.0.1 - same issue: in multicompiler mode and entrypoints set to true the only entrypoints that end up in the final manifest are the ones from the first config

[2021-04-02 10:52] dreyks commented on #140
i can reproduce this with a failing test

[code]

[2021-04-02 14:28] webdeveric commented on #140
@dreyks I have a fix locally. I'll try to publish a new release after I close out a couple more issues.

[2021-04-02 14:53] dreyks commented on #140
nice, thx!

[2021-04-02 17:30] webdeveric commented on #140
@dreyks Versions `4.0.2` and `5.0.2` have been published.

[2021-04-02 17:30] #140 closed

[2021-04-02 17:30] webdeveric commented on #125
@trickeyone I published new versions that have this update.

[2021-04-02 17:30] #125 closed

[2021-04-02 17:31] webdeveric commented on #131
@kikyous I published an updated version with this fix.

[2021-04-02 17:31] #131 closed

[2021-04-05 09:24] MatisLepik opened #144 "Unexpected output when using with HMR in development"
## The problem
I'm using this plugin in development (`devServer: { hot: true }`). Since updating to Webpack 5, this is a bit broken. After making changes to my code, the main entry point in the manifest is replaced with a hot-update.js file, and there's some weird files in the manifest that probably shouldn't be there.

## Technical details
✔️    Manifest after starting the server:
[code]

❌    Ma

[2021-04-05 18:11] webdeveric commented on #144
@MatisLepik I've rewritten how HMR assets are filtered. Can you install from my branch and try it out?

[code]

[2021-04-06 13:52] MatisLepik commented on #144
@webdeveric yes, that seems to fix it! Thanks :)

[2021-04-06 15:30] #144 closed

[2021-04-06 15:36] webdeveric commented on #144
@MatisLepik Version `5.0.3` has been published.

[2021-04-13 06:58] adp-psych opened #150 "Support tabs in JSON output"
Hi! 👋

Firstly, thanks for your work on this project! 🙂

Today I used [patch-package](https://github.com/ds300/patch-package) to patch `webpack-assets-manifest@5.0.4` for the project I'm working on.

I wanted to use tabs in the JSON output, so I set `space` to `\t`, which resulted in this error:

[code]

Here is the diff that solved my problem:

[code]

<em>This issue body was [partially generated

[2021-04-14 17:39] #150 closed

[2021-04-14 17:59] webdeveric commented on #150
@adp-psych A new version has been published that has this update.

[2021-04-25 10:26] adp-psych opened #155 "Webpack build fails when webpack configuration is in a separate package"
## The problem

webpack-assets-manifest causes a webpack build to fail if the plugin is used in a different package from the package being built. For example, if I create a package, `webpack-config`, that contains a webpack configuration that uses webpack-assets-manifest, and then I try to use `webpack-config` to configure webpack for my main project, the webpack build fails.

## Technical details

[2021-05-02 18:53] webdeveric commented on #155
@adp-psych I've seen the `TypeError: The 'compilation' argument must be an instance of Compilation` error when using `npm link`. This is a node module resolution issue on your end and not an issue with this plugin.

I think you can get around it by making `webpack` a peer dependency in your config package and then in your project you should make `webpack` and your config package dev dependencies.

[2021-05-02 18:53] #155 closed

[2021-05-24 15:26] strarsis opened #160 "Add non-loaded files to manifest (copy?)"
@webdeveric:

## The problem
Some assets are loaded during runtime which means that they are not loaded by a webpack loader during build.
The `manifest.json` still has to contain these files (and their hashed names) so the runtime can find these files and load them.

Is there a way to get the non-loaded assets in assets folder into the manifest, too?

[2021-05-24 15:51] webdeveric commented on #160
@strarsis This plugin only knows about assets that the webpack compiler emits.
If you want to modify the assets manifest file to include additional data, you can use the `transform` hook.

[2021-05-24 16:30] strarsis commented on #160
@webdeveric: Thanks for your quick response!
The files emitted by the `copy-globs-webpack-plugin` don't end up in the manifest - they aren't explicitly loaded.
Does that plugin use a different mechanism or does it or this plugin need extra configuration?

[2021-05-24 16:57] webdeveric commented on #160
@strarsis The github repo for `copy-globs-webpack-plugin` is 404 (maybe private?) so I'm not sure what its doing.
I looked on npm and that package has not been updated in 3 years. Can you try a [`copy-webpack-plugin`](https://webpack.js.org/plugins/copy-webpack-plugin/) instead?

[2021-05-24 16:58] strarsis commented on #160
@webdeveric: I just noticed that indeed this is the cause of the issue. Thanks.

[2021-05-24 16:58] #160 closed

[2021-06-26 09:34] Levdbas opened #168 "Older webpack plugins finish after manifest creation."
## The problem
Since your 5.x update you run this plugin on `compiler.hooks.thisCompilation.tap` which is totally correct since webpack 5. But I use some other webpack 4 plugins that are in the process of updating to webpack 5 are not yet compatible since they use the now deprecated hook `compiler.hooks.emit.tap(hookOptions, emit);`

This causes the problem that the files that those older plugins

[2021-07-23 12:16] thasmo opened #172 "When running webpack 5 in development mode most files are missing from the manifest"
## The problem
When running `webpack 5` in `development` mode, lots of files are missing from the manifest file. This is not an issue with `webpack 4` and an earlier version of `webpack-assets-manifest`. I would assume that files using the new `asset module` feature are the files missing in the manifest file.

Thanks for your great work on this plugin! :+1:

## Technical details
`webpack --mode pr

[2021-07-23 16:48] webdeveric commented on #172
@thasmo Please provide your webpack config.

[2021-07-25 12:33] thasmo commented on #172
@webdeveric While trying to create a simple reproduction case, I figured that the issue was related to a mis-configuration of `ts-node` on my side. By (wrongly) using the `--files` option of `ts-node`, it seems that `ts-loader` transpiles all existing `ts` files by itself, other than transpiling the actual bundle files given by webpack - that somehow leads to missing asset files. Not sure why this

[2021-07-25 12:33] #172 closed

[2021-10-01 12:10] Mesoptier opened #182 "Error is thrown for assets with persistent cache enabled (The "path" argument must be of type string. Received undefined)"
## The problem

Our builds sometimes fail on webpack-assets-manifest with the following error:
[code]

This error keeps occurring until I invalidate webpack's persistent cache. So it seems to me that something is going wrong in relation to said cache.

I believe there's been some similar issues to this, but those have been closed and the error is still happening, hence the new issue.

### Debuggin

[2021-10-01 12:17] Mesoptier commented on #182
Oh, one more thing. We noticed that the filename of the specific asset in this case has two `?xxx`-parts. The first of those is set in the actual `import` in the LESS file where the font is included. The other is set with webpack's `generator.filename` option. It seems unlikely to me that this is what causes `module.buildInfo.filename` to not become set, but I figured I'd mention it to be safe.

[2021-10-04 13:00] Mesoptier commented on #182
One more "one more thing": this comment in webpack's source code also seems to confirm that `module.buildInfo.XXX` doesn't get properly stored in combination with caching and instead "code generation results" should be used:

[code]
https://github.com/webpack/webpack/blob/beb42c64f696584ef570d8f57df448ddd0ac7238/lib/asset/AssetGenerator.js#L257-L258

[2021-10-10 21:16] webdeveric commented on #182
@Mesoptier Thanks for the thorough debugging.

Does this only happen for you with asset modules? Or are other loaders also causing the issue?

[2021-10-22 01:39] charle692 commented on #182
Ok so this occurred to me a few times today, the first time I didn't have the logging changes that @Mesoptier wrote. I added those in so that the next time it occurs, I would have proper logs.

The second time it occurred, I could see that the entrypoint processed in my case was a `*.js` file. In this case, it also seems like the issues occurred while processing an asset module, in this case a GIF

[2021-10-29 12:29] CCCoderDE opened #192 "Cannot add property integrity, object is not extensible"
## The problem

When adding options to the constructor `new WebpackAssetsManifest({ integrity: true })` in my webpack config, the project won't build correctly.

I am using `webpack-assets-manifest` version `5.0.6`

## Technical details

The error is:
`An unhandled exception occurred: Cannot add property integrity, object is not extensible`
`See "C:\Users\***\AppData\Local\Temp\ng-KN1lBv\angular-e

[2021-11-01 20:51] jpnauta-tugboat commented on #182
My team consistently runs into this issue :frowning_face: reproducing the issue consistently is difficult, but in general the steps to reproduce are:

- Start your local dev server using `webpack-assets-manifest`
- Enable [webpack cache](https://webpack.js.org/configuration/cache/) with type `filesystem` and a `idleTimeout` of a few minutes
- Change Git branches a few times while you wait for the

[2021-11-05 14:51] yvele opened #198 "How to get asset size within transform callback? (Webpack v5)"
## The problem

I used to get asset size within [transform callback](https://github.com/webdeveric/webpack-assets-manifest#transform) using `manifest.stats.assets` but now with Webpack v5 and webpack-assets-manifest v6 the `manifest.stats` property is undefined.

[code]

I would like to know what is the new way to get asset size 🤔

## Technical details

### Webpack version

- Webpack v5.61.0
- web

[2021-11-05 15:15] webdeveric commented on #198
@yvele You can use the `customize` hook. https://github.com/webdeveric/webpack-assets-manifest/blob/2ec37f6106d3d2b1f82de5334b3c0e787eadee64/examples/customized.js#L6

The `asset` parameter is the asset object from webpack. There is a `size()` method you can call to get the file size.

[2021-11-05 15:15] #198 closed

[2021-11-05 15:40] yvele commented on #198
Thank you for your quick answer!

Unfortunately it looks like there is no `asset.size()` method 🤔

[code]

I've console logged `entry`, `original` and `asset`:

[code]

[2021-11-05 15:52] webdeveric commented on #198
@yvele Try `asset.source.size()`

[2021-11-05 16:57] webdeveric commented on #198
[Example added](https://github.com/webdeveric/webpack-assets-manifest/blob/61e6142a23c5d966abc26b515000ae4a883beff8/examples/asset-size.js)

[2021-11-09 13:38] CCCoderDE commented on #192
@webdeveric sorry for the late reply.

I realized, that it is working perfectly fine for the "production" configuration defined in the angular.json to build my project.
However, when using the "local" configuration, it produces the error above...
Both using the `ng build` command

I will now take a look further into the problem and the differences between the two configurations to hopefully find t

[2021-11-09 13:45] CCCoderDE commented on #192
Ok, so I found the cause of this problem. 🥳
The error is casued by a value in `angular.json`. When the config-value `projects > ProjectName > architect > build > configurations > ConfigName > optimization` is set to `false`, the build fails with the error mentioned. When I change that value to `true`, the build works.

It might me worth to add this to the documentation of this project, what do you

[2021-11-09 14:33] CCCoderDE commented on #192
Ok so by creating a second webpack-config file and then referencing this for the local configuration, I manged to get it working.

This is the important part of my angular.json-File:
[code]
- `custom-webpack.config.ts`-File with `new WebpackAssetsManifest({integrity: true})` in `plugins`
- `custom-webpack.config.local.ts`-File with `new WebpackAssetsManifest()` in `plugins`

[2021-12-09 18:25] trickeyone commented on #125
@webdeveric I'm so sorry, I totally forgot to followup on this after I got the notification email back in April. I can confirm that I no longer see the issue. I tested by removing my work-around and the compilation completed as normal. Thanks!!

[2022-01-02 14:32] xoxys opened #207 "Crash during --watch mode"
## The problem

Webpack crashes when I'm using the webpack-assets-manifest together with sass assets in `--watch` mode. Webpack starts fine and crashes after editing and saving a sass file.

## Technical details

[code]

### Webpack version

`webpack 5.65.0`

### Webpack config

[code]

### Operating system

[2022-01-03 20:09] xoxys commented on #207
The issue seems to be related to the webpack caching mechanism. Using `--watch --mode production` does not end up in the described crash, and using `cache: false` while running `--watch --mode development` works as well. If I enable caching again and run `--watch --mode development` it crashes again after saving a SCSS file.

[2022-01-10 13:36] blackrabbit99 opened #208 "inDevServer method crashes with webpack 5"
## The problem
Can not create assets manifest file after update to webpack@5.
webpack-assets-manifest throws an error in inDevServer
https://github.com/webdeveric/webpack-assets-manifest/blob/master/src/WebpackAssetsManifest.js#L838

Because `this.compiler.outputFileSystem` is ` [Object: null prototype] `

## Technical details
[code]

### Webpack version
`webpack@5.65.0 `
### Webpack config

[code

[2022-01-10 17:31] webdeveric commented on #208
@blackrabbit99 This error is likely caused by something not setting or changing the `outputFileSystem`. I've never encountered this before. Webpack initially has `outputFileSystem` set to `null` but will set it to `fs` in the `NodeEnvironmentPlugin` or `MemoryFileSystem` in the dev middleware.

Do you have a minimal reproducible example repo for this issue? What does your build process look like?

[2022-01-10 17:33] blackrabbit99 commented on #208
I'm calling webpack from Jest. It is a set of test so i'm in process of migrating webpack configuration from @4 to @5.
Maybe it is Jest who works with fs in special manner.

[2022-01-11 09:28] blackrabbit99 commented on #208
Updated https://github.com/webdeveric/webpack-assets-manifest/pull/209

[2022-01-11 15:10] niksy opened #210 "Add only entrypoints to manifest"
## The problem

Currently plugin adds all chunks to manifest, but I’m looking for a way to add only entrypoints. I’ve tried different options but couldn’t get this to work.

## Technical details

Latest plugin version, latest Webpack.

[2022-01-11 15:28] webdeveric commented on #210
There are a few options around `entrypoints`. Basically, you should turn it on, then `transform` the manifest to discard what you don't want.

https://github.com/webdeveric/webpack-assets-manifest#entrypoints
https://github.com/webdeveric/webpack-assets-manifest#transform

This example will only keep the `entrypoints` data. You should update it to meet your specific needs.

[code]

[2022-01-12 23:40] webdeveric commented on #208
@blackrabbit99 I'm curious what your `outputFileSystem` actually is in your case.
Can you log some details about the compiler. You can do that by using the `apply` hook and console logging the `manifest.compiler`.

Example:

[code]

[2022-01-13 11:54] blackrabbit99 commented on #208
Here is the results of investigation. Please see the log below
[code]

[2022-01-13 15:40] webdeveric commented on #208
@blackrabbit99 What version of Node are you using? I'd like to match your environment while debugging.

The `fs` object from that package is still an `Object` so `constructor.name` still works.

[code]

Webpack is just setting the [`outputFileSystem` to that `fs` object in the `NodeEnvironmentPlugin`](https://github.com/webpack/webpack/blob/c181294865dca01b28e6e316636fef5f2aad4eb6/lib/node/NodeEnv

[2022-01-13 15:45] blackrabbit99 commented on #208
I'm using `node@v16.13.2`

[2022-01-13 15:55] blackrabbit99 commented on #208
Have the same results on my local. The log I sent you was made from my build's node modules

[2022-01-13 16:10] webdeveric commented on #208
I checked with a few different versions of Node and the `fs` that webpack uses by default (in `NodeEnvironmentPlugin`) has always been an `Object`. I'm not sure where the null prototype `fs` is being created. I'm assuming it has something to do with Jest.

Can you create a minimal reproducible example that I can run locally?

[2022-01-13 16:14] blackrabbit99 commented on #208
I have the same feeling. I'm trying to localise problem because project is quite big. Working on it.

[2022-01-13 16:43] blackrabbit99 commented on #208
Try the following code

[code]

`fs` is
[code]

[2022-01-13 18:05] webdeveric commented on #208
I was able to see the `null prototype` logs when using Jest. I don't have time to dig into it more but my assumption is that there is some auto mocking going on. I ran the same test case in Mocha and it did not give me the `null prototype` which just indicates this issue is related to Jest. I'll try to find some time later today or tomorrow to review you PR again.

[2022-01-16 18:15] #208 closed

[2022-01-16 18:59] #192 closed

[2022-01-16 18:59] #210 closed

[2022-01-16 19:01] webdeveric commented on #207
Duplicate of #182

[2022-01-16 19:01] #207 closed

[2022-01-16 22:20] webdeveric commented on #182
I've made some updates to my `dev` branch. Can you install from there and see if it works for you?

[code]

[2022-01-18 11:16] blackrabbit99 commented on #208
@webdeveric could you pls publish new version to npm ?

[2022-01-18 15:07] Mesoptier commented on #182
@webdeveric Thanks for the update. We haven't had any crashes for about a month now, so it's going to be hard for me to tell if your changes fixed it. It certainly looks like it should fix it, though! I'm installing it now, and then we'll see if any more crashes occur.

---

@charle692 You mentioned you could semi-regularly replicate this issue. Is that still the case? If so, could you also try th

[2022-01-18 19:19] charle692 commented on #182
Taking a look now. I can't replicate 100% but I will at least pull down the latest version and work with it for a while. If I don't experience the issue within a reasonable amount of time I would say it should be good.

I'll report back regardless :).

[2022-01-18 19:39] charle692 commented on #182
Ok, so I was able to reproduce the issue almost immediately with the current latest release. I then cleared the cache and pull down your dev branch. Performed the same steps I did with the current release and the error no longer occurs.

I continued to switch into all kinds of different branches with the webpack instance still running and I can no longer produce the error with your changes.

So al

[2022-01-18 23:04] #182 closed

[2022-01-18 23:35] webdeveric commented on #208
@blackrabbit99 A new version has been published.

[2022-01-18 23:35] webdeveric commented on #182
A new version has been published.

[2022-02-06 06:32] silverwind opened #218 "Missing path prefix when altering `filename` in webpack"
## The problem

When altering output `filename` the plugin seems to ignore a path prefix. Example webpack config:

[code]
(function syntax for `filename` is intended and required in my case)

Results in:

[code]

Expected result would be

[code]

## Technical details

### Webpack version
5.67.0
### Webpack config
See above
### Operating system
macOS 12

[2022-02-06 06:39] silverwind commented on #218
On second thought, I think the behaviour is actually correct (the plugin can't possible determine the `js/index.js` path from this config) and I need to explore other webpack options to introduce the path prefix.

[2022-02-06 06:39] #218 closed

[2022-02-09 11:16] pgnd opened #219 "request addition of support for 'renamed assets'"
When generating hashed-asset manifest in conjunction with image-minimizer-webpack-plugin, when using the 'generator' capability of on-the-fly image conversion (e.g. png -> webp) during webpack5 build, the generated assets are incorrectly added to manifest WITH '[hash]' in the key, rather than simply in the value,

This apparently is due to lack of support for 'renamed assets' in webpack-assets-man

[2022-02-09 14:13] webdeveric commented on #219
@pgnd Can you provide a minimal reproducible example that shows the error so I can clone and run locally?

[2022-02-09 14:28] pgnd commented on #219
Sure, might take a little bit.
I have to strip down my production instance, where I see this, to something I can actually share -- & reproduces.

[2022-02-09 21:29] pgnd commented on #219
@webdeveric

minimal-ish ...

[code]

NOTE, the key
[code]

should be
[code]

[2022-02-19 15:01] jgraichen opened #222 "Feature: Export assets with their import name as key"
## The problem

We would like to have assets exported with the name they were imported as, as their key in the manifest file.

Example:

[code]

This image would appear as `images/logo.png` in the manifest, independent of the actual source file location.

[code]

</details>

## Technical details

Currently, the source path is used as the key, which can differ from the import name. For example, if

[2022-02-19 15:09] jgraichen commented on #222
If the import name(s) can be collected somewhere while processing and be made available in the customize hook, that would be fine too.

I wasn't able to find any obvious way to get the import name with the fields and stats available in the current hook, nor in webpack 5 compiler stats.

[2022-02-28 07:15] xtroncode opened #224 "preload and prefetch not present in the manifest entrypoints with v4.x.x"
## The problem

The master readme says v4 entrypoints structure includes preload and prefetch but that does not seem to be working also the readme under tag v4.0.6 does not mention this. How to get it working?

## Technical details
preload and prefetch not present in the manifest entrypoints but is mentioned in the readme.

### Webpack version
4

### Webpack config

### Operating system
Windows

[2022-02-28 13:33] webdeveric commented on #224
@xtroncode Are you doing what is described here? https://webpack.js.org/guides/code-splitting/#prefetchingpreloading-modules

[2022-03-01 09:14] xtroncode commented on #224
Yes. Seems to be working while trying to reproduce this in a new project, might be some other issue. Will try to figure out. Closing this for now. Thanks.

[2022-03-01 09:14] #224 closed

[2022-03-12 14:33] pgnd commented on #219
@webdeveric

any more info needed here?  or just, still waiting on webpack-contrib/image-minimizer-webpack-plugin#304 ?

[2022-03-20 13:41] #219 closed

[2022-06-09 14:01] jsodeman opened #239 "Vue CLI Webpack 5 deprecation warnings"
When run as part of the current version Vue Cli Services build, which is using Webpack 5 internally, multiple deprecation warnings are emitted.

[code]

[2022-06-09 14:23] #239 closed

[2022-06-09 15:05] webdeveric commented on #239
@jsodeman If you can provide a minimum reproducible example, I'll take another look.

[2022-07-10 19:25] kimyu92 commented on #160
@webdeveric @strarsis I'm still seeing missing files in `manifest.json` without using any hook?

Is it still true that we need to rely on `transform` hook when copying assets via `copy-webpack-plugin`?

Would you recommend this approach

or

do you expect to skip `copy-webpack-plugin`, create a new entrypoint, use require.context, import all and go through loaders to export all shared assets out?

[2022-07-10 20:01] strarsis commented on #160
@kimyu92: Are you using [`copy-webpack-plugin`](https://webpack.js.org/plugins/copy-webpack-plugin/) and [`webpack-assets-manifest`](https://www.npmjs.com/package/webpack-assets-manifest)? Together the assets should be copied and also added to the manifest.

[2022-07-11 02:01] kimyu92 commented on #160
Yes. I'm using both [copy-webpack-plugin](https://webpack.js.org/plugins/copy-webpack-plugin/) and [webpack-assets-manifest](https://www.npmjs.com/package/webpack-assets-manifest).

You're absolutely right about the entries! I have also noticed that assets being copied by the plugin can be merged with assets loaded via asset modules

Output:
https://github.com/kimyu92/webpack-assets-manifest-copy-

[2022-08-03 03:56] dkrnl opened #242 "Feature request: Allow to chunk hash property"
Hi!
I need allow to chunk hash property. Its possible?
[code]

Thank You!

[2022-08-17 08:35] phipla opened #243 "Building fails with Angular 14 (Webpack 5.72.1)"
## The problem

Building fails with Angular 14

[code]

## Technical details

### Webpack version

5.72.1 (dependency for @angular-devkit#build-angular 14.1.2)

### Webpack config

[code]

### Operating system

MacOS Monterey (12.4)

[2022-08-17 11:25] webdeveric commented on #243
Possibly a duplicate of https://github.com/webdeveric/webpack-assets-manifest/issues/155 or https://github.com/webdeveric/webpack-assets-manifest/issues/122

Can you create a minimal reproducible example I can clone and run locally?

[2022-08-17 13:16] phipla commented on #243
Here you are https://github.com/phipla/test-webpack-assets-manifest

[2022-08-17 13:49] webdeveric commented on #243
@phipla The issue you're experiencing is due to package resolution. In the example repo, when you run `yarn why webpack`, it returns **two** different versions of webpack.

   yarn why v1.22.15
   [1/4] Why do we have the module "webpack"...?
   [2/4] Initialising dependency graph...
   [3/4] Finding dependency...
   [4/4] Calculating file sizes...
   => Found "webpack@5.74.0"
   info Has been hoi

[2022-08-17 13:49] #243 closed

[2022-08-17 14:50] phipla commented on #243
Oh. I did look for multiple versions of webpack, but for some reason I missed it. Thanks and sorry !

[2022-09-21 18:29] #168 closed